*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  color: white;
  background-color: #1b1b32;
  font-family: sans-serif;
  margin-top: 40px;
}

.toDoApp{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.freeCodeCamp-container-logo{
  /* width: 100%; */
  margin: 20px;
  align-items: center;
  justify-content: center;
}

.freeCodeCamp-logo{
  width: 400px;
  height: 50px;
}